node_modules/
extension/out/
extension/bin/
extension/README.md
extension/LICENSE
extension/CHANGELOG.md
extension/THIRD_PARTY_NOTICES.md
extension/docs/
**/obj/
**/bin/
dist/
tools/
.local/
*.log
*.user
.env*
TestResults/
!icons/
remote-extension/out/
remote-extension/README.md
remote-extension/LICENSE
extension/remote/
extension/icons/
extension/README.fr.md
